{% extends 'admin/layout.html.twig' %}
{% block content %}
    <main class="container" id="content">
        <section class="header">
            <h1>Administracja</h1>
        </section>
        <table class="admin">
            <tr>
                <th></th>
                <th>Liczba</th>
                <th class="create">Utwórz</th>
                <th class="view">Pokaż</th>
            </tr>
            <tr>
                <td><strong>Kategorie</strong></td>
                <td>{{ number_of_categories }}</td>
                <td><a href="category.php?id=" class="btn btn-primary">Dodaj</a></td>
                <td><a href="categories.php" class="btn btn-primary">Pokaż</a></td>
            </tr>
            <tr>
                <td><strong>Publikacje</strong></td>
                <td>{{ number_of_publications }}</td>
                <td><a href="publication.php" class="btn btn-primary">Dodaj</a></td>
                <td><a href="publications.php" class="btn btn-primary">Pokaż</a></td>
            </tr>
        </table>
    </main>
{% endblock %}