{% extends 'layout.html.twig' %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
    <main class="container" id="content">
        <section class="header"><h1>Zapomniałeś hasło?</h1></section>
        {% if send == false %}
            <form method="post" action=reset-password.php" class="form-membership">
                <label for="email">Podaj swój adres e-mail: </label>
                <input type="text" name="email" id="email" class="form-control"><br>
                <span class="errors">{{ error }}</span><br>
                <input type="submit" name="submit" value="Wyślij e-mail do zresetowania hasła" class="btn">
            </form>
        {% else %}
            <p class="form-membership">Jeśli Twój adres znajduje się w bazie, wyślemy Ci e-mailem instrukcję resetowania hasła.</p>
        {% endif %}
    </main>
{% endblock %}